* {
    margin: 0;
    padding: 0;
    font-family: 'jost';
}

@font-face {
    font-family: 'jost';
        src: url('fonts/Jost-VariableFont_wght.ttf');
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkedinpng2{
    display: flex;
    text-align: left;
}


.main-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: white;
}

.main-left-drop {
    background-color: #ff7f99;
    margin: 2% 4%;
    height: 297px;
    width: 297px;
    border-radius: 50% 0 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left-drop-image {
    height: 277px;
    width: 277px;
    border-radius: 50%;
    display: flex;
    animation: girar 15s linear infinite;
}

.main-left-drop-image:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #ffca41;
    -webkit-box-shadow: 0px 0px 5px 5px #ffca41;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vh;
    background-color: white;
}

.main-right-container {
    color: #FF7F99;
    line-height: 8vh;
    display: flex;
    justify-content: center;
}

h1{
    font-weight: normal;
    font-size: 8vh;
}

.main-right-note {
    line-height: 3.8vh;
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
    letter-spacing: -0.4px;
}

.btn {
    display: flex;
    justify-content: center;
    
}

.main-right-btn button {
    width: 8vw;
    height: 4.5vh;
    border-radius: 40px;
    border: 1px solid #FFCA41;
    background-color: #FFCA41;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.3vh;
    cursor: pointer;
    margin-top: 2.5vh;
} 

.main-right-down{
    margin-right: 25vh;
    display: flex;
    align-items: center; 
    justify-content: center;  
    cursor: pointer;
}
.box{
    height: 17vh;
    background-color: #FF7F99;
}

.box-left{
    margin-left: 5vh;
    margin-right: 50;
    display: flex;
    flex-direction: row;
}

.box-left-h3white{
    color: #ffff;
    font-size: 8vh;
}
.box-left-h3yellow{
    color: #FFCA41;
    font-size: 8vh;
}

.aligntoends{
    display: flex; 
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.aligncard{

    display: flex;
    flex-direction: row;

    align-items: center;
}
.box-right{
    margin-left: 5vh;
    margin-right: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-right-p{
    margin: 2.5vh;
    color: #ffff;
    font-weight: normal;
}

.box-right-button{
    margin: 2.5vh;
    color: #ffff;
    background-color: darksalmon;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-color: #ffff;
    border-width: 0.1vh;
    border-style: solid;
    border-radius:15px;
}

.allcards{
    display: flex;
    flex-direction: row;
}

.zoom-container {
    overflow: hidden;
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
    margin-top: 5vh;
}

.zoom-image {
    transition: transform 0.9s ease;
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
}

.zoom-container:hover .zoom-image {
    transform: scale(1.6);
}
.card {
    background-color: #FF7F99;
    display: flex;
    justify-content: center;
    width: 60vh;

}

.card-1 {
    color: white;
    font-size: medium;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3vh;
}

.card-1 h1,
.card-1 p {
    margin: 0;
}

.card-1 h1 {
    font-size: 3vh;
    font-weight: normal;
}

.card-1 p {
    font-size: 16px;
    text-align: center;
    color: black; 
}

.linkedinpng {
    height: 5vh;
    width: 5vh;
}
